.navbar_container {
  position: sticky;
  top: 0;
 padding: 24px 0;
 z-index: 10;
 background: #fff;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.company_link{
  text-decoration: none;
}

.menu_icon {
    font-size: 30px;
    cursor: pointer;
}
.header_title {
    color: #6b62ff;
}
.nav_links {
  display: none;
}
.mobile_links_wrapper{
  position: relative;
}
.times_icon{
  position: absolute;
  top: 4px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.create_btn {
  background-color: #6b62ff;
  color: #fff;
  padding: 10px 8px;
  border: none;
  border-radius: 6px;
}
.mobile_links {
  margin-bottom: 14px;
  cursor: pointer;
}
.mobile_nav_container {
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  min-height: 50vh;
  width: 50%;
  padding-left: 10px;
  padding-top: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}
.nav_links > li {
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .company_name{
  font-size: 32px;
 }
  .menu_icon {
    display: none;
  }
  .nav_links{
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  .post_btn{
    background-color: #6b62ff;
    color: #fff;
    padding: 10px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .mobile_nav_container {
    display: none;
  }
}